# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# next-pwa
/public/workbox-*.js
/public/sw.js

# prefer yarn than npm
package-lock.json

report.*.json

# .vscode Debugging
.vscode/*-debug-profile

#images
*.JPG
*.jpeg
*.png
*.JPEG
public/b1.JPG
public/b2.jpeg
public/b3.jpeg
public/b4.JPEG
public/b5.JPG
public/b6.jpeg
public/b7.jpeg
public/b8.jpeg
public/b9.jpeg
public/b11.jpeg
public/b12.jpeg
public/b13.JPEG
public/v1.mp4
