* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  /* width: 100vw; */
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  /* cursor: url('/ellipse.svg'), pointer; */
  background: #000000;
  /* background-image: url('../../public/b901.jpeg'); */
  /* background-size: cover; */
  /* /* background-position: center; */
  overflow: hidden;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Segoe UI',
    'Helvetica Neue', Helvetica, Arial, Roboto, Ubuntu, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* canvas { */
/* position: relative; */
/* top: 0; */
/* left: 0; */
/* width: 100%; */
/* height: 100vh; */
/* } */
/* main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
} */
.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #a76bcf;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.loading-bar-container {
  width: 100px;
  height: 3px;
  background: #4d0101;
}
.loading-bar {
  height: 3px;
  background: gray;
}

.loading-data {
  display: inline-block;
  position: relative;
  font-variant-numeric: tabular-nums;
  margin-top: 0.8em;
  color: #ec5800;
  font-size: 0.6em;
}

/* @media only screen and (max-height: 1000px) {
    div {
      transform: scale(0.5);
    }
  } */

/* Laptop Screen Inside start */
.container {
  height: 120%;
  overflow: hidden;
}

.HTMLcontent {
  /* width: 330px;
  height: 210px; */
  width: 100px;
  height: 100px;
  background: rgb(0, 115, 255);
  border: 3px solid rgb(206, 112, 112);
  /* padding: 20px; */
}
.wrapper {
  border: 3px solid rgb(206, 112, 112);
}
.wrapper2 {
  width: 50%;
  height: 100%;
  /* display: flex; */
}
.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(203, 0, 0);
  font-size: 1vw;
}
.float-container {
  border: 3px solid #7e3333;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  /* display: inline-flex; */
}
.grid-container > div {
  background-color: #ffbc02;
  text-align: center;
}

/* Laptop Screen display End  */

/* top-0 left-0 z-10 w-screen h-screen overflow-hidden dom */
/* #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  position: relative;
} */

/* body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
} */

.fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  /* z-index: -1; */
}

.stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #600a64;
}

.bg {
  background: #4c4597;
}

.fullscreen > div > a {
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
}

.fullscreen.notready > div > a {
  color: #e5ff22;
}

.fullscreen.ready > div > a {
  color: rgba(47, 5, 28, 0.311);
}

.fullscreen.clicked {
  pointer-events: none;
  opacity: 0;
}

.pmndrs-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  color: #449c00;
  padding: 40px;
  pointer-events: none;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  font-size: 10px;
  line-height: 1.5em;
}

.pmndrs-menu.left {
  justify-content: flex-start;
}

.pmndrs-menu.right {
  justify-content: flex-end;
}

.pmndrs-menu > div {
  word-wrap: none;
  word-break: none;
  white-space: pre;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.pmndrs-menu > div b {
  font-weight: 600;
  color: #850000;
}

.pmndrs-menu a {
  pointer-events: all;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.pmndrs-menu a:hover {
  text-decoration: underline;
  color: inherit;
}
