@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #__next {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background: #000000; */
    /* background-image: url('../../public/b1.JPG');
    background-size: cover;
    background-position: center; */
    overflow: hidden;
  }
  /* @media only screen and (max-height: 1000px) {
    div {
      transform: scale(0.5);
    }
  } */
}

.HTMLcontent {
  width: 300px;
  height: 200px;
  background: #ffffff;
  border: 3px solid #ce7070;
  padding: 20px;
}
.wrapper {
  border: 3px solid #ce7070;
}
.wrapper2 {
  width: 50%;
  height: 100%;
  display: flex;
}
.loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(4, 19, 85);
  font-size: 10vw;
}

.float-container {
  border: 3px solid #ce7070;
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-container > div {
  background-color: #ffbc02;
  text-align: center;
}

/* top-0 left-0 z-10 w-screen h-screen overflow-hidden dom */
